<div >
    <mat-card class="center">
      <mat-card-title style="margin-bottom:50px"><h1>New flight</h1></mat-card-title>
       <mat-form-field appearance="outline" style="margin-right:80px;width:300px">
          <mat-label>From</mat-label>
          <mat-icon matPreffix>flight_takeoff</mat-icon>
          <input matInput  [(ngModel)]="flight.from">
       </mat-form-field>
       <mat-form-field appearance="outline" style="width:300px" >
          <mat-label>To</mat-label>
          <mat-icon matPreffix>flight_land</mat-icon>
          <input matInput  [(ngModel)]="flight.to">
       </mat-form-field><br>
      
         <mat-form-field appearance="outline" style="margin-right:80px;width:300px">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="flight.date">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
       <mat-form-field appearance="outline" style="width:300px">
         <mat-label>Input type time</mat-label>
         <input type="time" matInput name="week" [(ngModel)]="flight.departureTime" >
       </mat-form-field>
       <br>
       <mat-form-field appearance="outline" style="width:300px" [(ngModel)]="flight.price">
         <mat-label>Price</mat-label>
         <input type="number" matInput [(ngModel)]="flight.price">
      </mat-form-field><br>
      <button mat-raised-button color="primary" style="width:200px;position: absolute;margin-left: 250px;margin-top: 50px;" (click)="createFlight()">Create</button>
    </mat-card>
    
 </div>
