<div class="header">
    <nav>
        <div class="nav-links">
              <ul>
                  <li><a href="/flights">Available flights</a></li>
              </ul>
        </div>
    </nav>
</div>
<div class="container">

    <div class="card">
        <h1 class="cardTitle">  Sign in  </h1>
        <table style="margin-left: 70px;">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="login.username">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="login.password" [type]="showPassword ? 'text' : 'password'" name="password">
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
            </mat-form-field><br>
        </table>
    <div class="additional">
        <button class="confirmButton" mat-stroked-button app:backgroundTint="#e0e7ff" style="background-color:#e0e7ff; width: 100px;" (click)="SignIn()">
            Sign in
        </button>
        <br>
        <br>
        <p>Don't have an account?</p> <a href="/registration" style="color:#484b54">Sign up now.</a>
    </div>
    </div>


</div>
