table {
    width: 95%;
    margin-top: 100px;
    margin-left:50px
    
  }
  th{
    background-color: dodgerblue;
    color:white
  }
  tr.mat-header-row{
    height:80px
    
  }
  .mat-table{
    font-size:larger
  }